body{
  width: 100%;
}

#siteName{
  float: left;
  display: inline-block;
  width: 20%


}

.nav{
  height: 50px;
  padding: 1% 0 1% 0;
}

header ul{
  list-style-type: none;
  padding: 0;
}

.tab{
  float: right;
}

header ul li a{
  text-decoration: none;
  /*margin: 1% 10% 1% 10%;*/
  font-size: 1.1em;
  padding: .4em;
}


h1, h2{
  text-align: center;
}

input{
  width: 100%;
  padding: 1%;
  border-radius: 25px;
  margin: 1%;
}

form{
  text-align: center;
}

#submit{
  width: 25%;
}

ul{
  list-style: none;
  padding: 0;
}

span{
  float: right;
}

@media screen and (min-width: 940px){
  body{
    width: 70%;
    margin: auto;
  }


}
